<!--Aubrey Farnbach (Wright) Sectino 2 Group 1-->

@model IndexViewModel

<table class="table table-striped w-auto">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                City
            </th>
            <th>
                State
            </th>
            <th>
                Zip Code
            </th>
            <th>
                Phone Number
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Bowlers)
        {
            <tr>
                <td>
                    @x.BowlerFirstName @x.BowlerMiddleInit @x.BowlerLastName
                </td>
                <td>
                    @x.BowlerAddress
                </td>
                <td>
                    @x.BowlerCity
                </td>
                <td>
                    @x.BowlerState
                </td>
                <td>
                    @x.BowlerZip
                </td>
                <td>
                    @x.BowlerPhoneNumber
                </td>
            </tr>
        }
    </tbody>
</table>

<div page-info="@Model.PageNumberingInfo" page-url-mealtype="@Model.TeamCategory">

</div>